
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" id="Dintorni">
    <div class="row sectionContent">
        <h2>Nei dintorni...</h2>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="jumbotron jumbotronDintorni">
                <p class="cerimoniaDetail">Rimini, Cattolica, l'entroterra, i parchi di divermento...</p>
                <p class="cerimoniaDetail">la Riviera Romagnola non manca di luoghi da visitare!</p>
                <p class="cerimoniaDetail">Approfittatene!</p>
            </div>
        </div>
    </div>

    @*<div class="line"></div>*@

    <div class="sectionContent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="Viaggio">
                <ul class="contentDintorni">
                    <li>
                        @*<h3 class="content-avatar avatar-top">
                                <div class="img-avatar" style="background-image: url(/Content/Images/rimini_beaches.jpg);"></div>
                            </h3>*@
                        <ul>
                            <!-- begin:Venezia -->
                            <li class="content-item content-sun">
                                <h3>La Riviera</h3>
                                <p class="caption">Da Gabicce a Cesenatico, 40 km di spiagge, attrazioni e divertimento!</p>
                                <ul class="contentInnerList">
                                    <li><strong>Rimini: </strong>la "capitale" della Riviera e del turismo balneare in Italia. Godetevi il suo lungomare e i numerosi locali, ma non dimenticatevi di visitare anche il centro storico, di antica origine romana</li>
                                    <li><strong>Cattolica e Gabicce: </strong>dove Romagna e Marche si incontrano, a pochi passi l'uno dall'altro. Consigliamo una tranquillia passeggiata alla Darsena di Cattolica, mentre imperdibile è il panorama da Gabicce Monte, dove è possibile vedere l'intera costa!</li>
                                    <li><strong>Riccione: </strong>la "Perla dell'Adriatico", luogo per antonomasia del divertimento estivo ed invernale, dove tutto diventa tendenza! Da non perdere Viale Ceccarini e il lungomare.</li>
                                </ul>
                            </li>
                            <li class="content-item content-glass">
                                <h3>L'entroterra</h3>
                                <p class="caption">Relax e buona cucina!</p>
                                <ul class="contentInnerList">
                                    <li><strong>San Giovanni in Marignano:</strong>nel "granaio dei Malatesta" potrete visitare il piccolo, ma grazioso, centro storico e approfittarne per assaporare un calice di Sangiovese DOC! </li>
                                    <li><strong>Santarcangelo: </strong>Situato ad una decina di km da Rimini, Santarcangelo è curiosamente patria di diversi poeti ed artisti. Noi, più modestamente, la consigliamo per i numerosi ristoranti e osterie!</li>
                                    <li><strong>Repubblica di San Marino: </strong>"L'antica terra della libertà" è la repubblica più antica al mondo! Da visitare Borgo Maggiore, in cima al Monte Titano, dove vi sono le tre torri che caratterizzano l'intero panorama riminese.</li>
                                </ul>
                            </li>
                            <li class="content-item content-staro">
                                <h3>Parchi di divertimento</h3>
                                <p class="caption">Divertimento per tutte le età!</p>
                                <ul class="contentInnerList">
                                    <li><strong>Aquafan e Oltremare:</strong>A Riccione, uno dei parchi acquatici più importanti d'Italia e di Europa!</li>
                                    <li><strong>Mirabilandia: </strong>In provincia di Ravenna, il parco ha attrazioni per tutti!</li>
                                    <li><strong>Italia in Miniatura: </strong>Consigliamo questo parco per chi volesse attraversare l'intera penisola italiana in poche ore...si trova a Viserba!</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @*<li class="content-end">
                            <h3 class="content-avatar avatar-end">
                                <div class="img-avatar" style="background-image: url(/Content/Images/trieste.jpg);"></div>
                            </h3>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
</div>


