<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mariaematteo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mariaematteo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mariaematteo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mariaematteo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MariaMatteoWedDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=mariamatteoweddbserver.database.windows.net;Initial Catalog=MariaMatteoWedDB;Persist Security Info=True;User ID=matteogarzulino;Password=9arzu:!:;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:mariamatteoweddbserver.database.windows.net,1433;Initial Catalog=MariaMatteoWedDB;Persist Security Info=True;User ID=matteogarzulino;Password=9arzu:!:;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MariaMatteoWedDBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MatteoMariaWedDbModel.csdl|res://*/MatteoMariaWedDbModel.ssdl|res://*/MatteoMariaWedDbModel.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:mariamatteoweddbserver.database.windows.net,1433;initial catalog=MariaMatteoWedDB;persist security info=True;user id=matteogarzulino;password=9arzu:!:;MultipleActiveResultSets=True;App=EntityFramework'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MariaMatteoWedDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MatteoMariaWedDbModel.csdl|res://*/MatteoMariaWedDbModel.ssdl|res://*/MatteoMariaWedDbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mariamatteoweddbserver.database.windows.net;initial catalog=MariaMatteoWedDB;persist security info=True;user id=matteogarzulino;password=9arzu:!:;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MariaMatteoWedDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MatteoMariaWedDbModel.csdl|res://*/MatteoMariaWedDbModel.ssdl|res://*/MatteoMariaWedDbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mariamatteoweddbserver.database.windows.net;initial catalog=MariaMatteoWedDB;persist security info=True;user id=matteogarzulino;password=9arzu:!:;application name=EntityFramework;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MariaMatteoWedDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MatteoMariaWedDbModel.csdl|res://*/MatteoMariaWedDbModel.ssdl|res://*/MatteoMariaWedDbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=mariamatteoweddbserver.database.windows.net;initial catalog=MariaMatteoWedDB;persist security info=True;user id=matteogarzulino;password=9arzu:!:;application name=EntityFramework;MultipleActiveResultSets=False;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WeddingServices.Properties.Settings.MariaMatteoWedDBConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=CLU13132;Initial Catalog=MariaMatteoWedDB;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MariaMatteoWedDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MatteoMariaWedDbModel.csdl|res://*/MatteoMariaWedDbModel.ssdl|res://*/MatteoMariaWedDbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=CLU13132;initial catalog=MariaMatteoWedDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>