@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Matteo e Maria - La Cerimonia";
    }*@

<!--
<div>
    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlWu1Kk8k1yilT_rIoMIqKtRCVV5KuF80&q=place_id:EjxWaWEgWFggU2V0dGVtYnJlLCA0Nzg0MiBTYW4gR2lvdmFubmkgSW4gTWFyaWduYW5vIFJOLCBJdGFsaWE" allowfullscreen></iframe>
</div>
    -->

<div class="container-fluid">
    <div class="row sectionContent">
        <h2>Ci sposiamo!</h2>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="jumbotron jumbotronCerimonia">
                <p class="cerimoniaDetail">Giovedì 24 agosto 2017, ore 16.00</p>
                <h1 style="text-align:center;">Chiesa di San Pietro Apostolo</h1>
                <p class="ricevimentoAddress">Via XX settembre, 10 San Giovanni in Marignano (RN)</p>
            </div>
        </div>
    </div>


    <div class="row sectionContent">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="googleMap" id="cerimoniaMap">
            </div>
        </div>
    </div>

    <div class="row sectionContent" style="margin-top: 1%;">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 btnInfo">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#parkExampleModal">
                <span class="glyphicon glyphicon-info-sign"></span> Parcheggi
            </button>
        </div>

        <div class="modal fade modalContent" id="parkExampleModal" tabindex="-1" role="dialog" aria-labelledby="parkExampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2>Parcheggi</h2>
                        <h3>Consulta la mappa per i parcheggi più vicini alla chiesa</h3>
                        <ul>
                            <li>P1: Comune - Via Largo Fosso del Pallone - Disco orario 1h (100m)</li>
                            <li>P2: Teatro Massari - Via Serpieri, 1 -  Disco orario 1h (100m)</li>
                            <li>P3: Via Vittorio Veneto / Via della Libertà -  Disco orario 1h (100m)</li>
                            <li>P5: Via Corbucci 5 - Gratis (300m)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>