@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Matteo e Maria - La Cerimonia";
    }*@

<!--
<div>
    <iframe width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlWu1Kk8k1yilT_rIoMIqKtRCVV5KuF80&q=place_id:EjxWaWEgWFggU2V0dGVtYnJlLCA0Nzg0MiBTYW4gR2lvdmFubmkgSW4gTWFyaWduYW5vIFJOLCBJdGFsaWE" allowfullscreen></iframe>
</div>
    -->

<div class="container-fluid">
    <div class="row sectionContent">
        <h2>Ci sposiamo!</h2>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="jumbotron jumbotronCerimonia">
                <p class="cerimoniaDetail">Giovedì 24 agosto 2017, ore 16.00</p>
                <h1 style="text-align:center;">Chiesa di San Pietro Apostolo</h1>
                <p class="ricevimentoAddress">Via XX settembre, 10 San Giovanni in Marignano (RN)</p>
            </div>
        </div>
    </div>


    <div class="row sectionContent">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="googleMap" id="cerimoniaMap">
            </div>
        </div>
    </div>
</div>