
<div class="container-fluid">
    <div class="row sectionContent">
        @*<h2>
            CI SPOSIAMO! 
        </h2>*@
    </div>
</div>
@*<div class="row sectionContent">
    <div class="col-md-12">*@
        <div id="carousel-example-generic" class="carousel slide carouselMain" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>

                @for (int i = 1; i < 14; i++)
            {
                    <li data-target="#carousel-example-generic" data-slide-to=@i></li>
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner carouselContainer" role="listbox">

                <div class="item carouselImages active">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/matrimonio16.1.jpg" alt="Matrimonio Federica - 2016">
                    <div class="carousel-caption">
                        Campobello di Licata, Italia, settembre 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/bad16.jpg" alt="Bad Kleinchirchenheim - 2016">
                    <div class="carousel-caption">
                        Bad Kleinkirchheim, Austria, gennaio 2016
                    </div>
                </div>

                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/santorini15.jpg" alt="Santorini - 2015">
                    <div class="carousel-caption">
                        Santorini, Grecia, luglio 2015
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/croazia16.jpg" alt="Croazia - 2016">
                    <div class="carousel-caption">
                        Isola di Krk, Croazia, luglio 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/macchina15.jpg" alt="In viaggio 2015">
                    <div class="carousel-caption">
                        2015: in viaggio da qualche parte...chissà quale destinazione?
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/eolie16.2.jpg" alt="Isole Eolie - 2016">
                    <div class="carousel-caption">
                        Isole Eolie, Italia, settembre 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/mercatini14.jpg" alt="Merano 2014">
                    <div class="carousel-caption">
                        Mercatini di Merano, Italia, dicembre 2014
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/expo15.jpg" alt="Expo Milano - 2015">
                    <div class="carousel-caption">
                        Expo Milano, Italia, settembre 2015
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/eolie16.4.jpg" alt="Isole Eolie - 2016">
                    <div class="carousel-caption">
                        Isole Eolie, Italia, settembre 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/verona16.jpg" alt="Verona - 2016">
                    <div class="carousel-caption">
                        Arena di Verona, Italia, giugno 2016
                    </div>
                </div>

                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/zoncolan16.1.jpg" alt="Zoncolan - 2016">
                    <div class="carousel-caption">
                        Monte Zoncolan, Italia, marzo 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/ferragosto16.jpg" alt="Ferragosto 2016">
                    <div class="carousel-caption">
                        Rakov Skocjan, Slovenia, Ferragosto 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/milano16.jpg" alt="Milano - 2016">
                    <div class="carousel-caption">
                        Milano, aprile 2016
                    </div>
                </div>
                <div class="item carouselImages">
                    <img src="~/Content/Images/Foto sito-20170505T220113Z-001/Foto sito/trieste16.jpg" alt="Trieste - 2014">
                    <div class="carousel-caption">
                        Trieste, Italia, agosto 2016
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    @*</div>
</div>*@