@{
    ViewBag.Title = "Matteo e Maria";
}

@*<div class="indexWelcomeBody">
        <h1>Benvenuti!</h1>
        <p class="lead">Cari amici in questo sito troverete tutte le informazioni utili sul nostro Matrimonio!</p>
    </div>

    <div class="row">
    </div>*@

<section id="Cerimonia">
    @{
        Html.RenderPartial("Cerimonia");
    }

</section>
<section id="Ricevimento">

    @{
        Html.RenderPartial("Ricevimento");
    }

</section>
<section id="Viaggio">
     @{ 
         Html.RenderPartial("Viaggio");
     }
</section>
<section id="RSVP">
    @{ 
        Html.RenderPartial("RSVP");
    }
</section>

<section id="Guestbook">
    @{
        Html.RenderPartial("Guestbook");
    }
</section>