@{
    ViewBag.Title = "Matteo e Maria";
}

<div class="indexWelcomeBody">
    <h1>Benvenuti!</h1>
    <p class="lead">Cari amici in questo sito troverete tutte le informazioni utili sul nostro Matrimonio!</p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    @*<div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>*@
</div>