<div class="container">
    <div class="sectionContent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron viaggioJumbo" style="margin-top:1%;">
                    <h3>Questo sarà il primo viaggio della nostra vita insieme...</h3>
                    <h3>...chi desidera può contribuire alla nostra luna di miele</h3>
                    <h3>Il vostro regalo la renderà più preziosa!</h3>
                    <div class="row">
                        <div class="line"></div>
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Lista nozze <span class="glyphicon glyphicon-plane"></span>
                            </button>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>Abbiamo organizzato il nostro viaggio e la Lista Nozze con</p>
                                    <img src="~/Content/Images/KiaOra.jpg" />
                                    <h3>E' sufficiente accedere al <a href="https://www.kiaoraviaggi.it/?q=listenozze" target="_blank">sito</a> ed inserire il codice: </h3>
                                    <h2>836MAR</h2>
                                    <h3>Grazie!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
