
<div class="container-fluid">
    <div class="row sectionContent">
        <h2>Party!</h2>
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="jumbotron jumbotronCerimonia">
                <p class="cerimoniaDetail">A fine ricevimento, non andate via, la festa non è finita! 🎉</p>
                <p class="cerimoniaDetail">Ci sposteremo per ballare e divertirci al </p>
                <h1 style="text-align:center;">Malindi Biki Beach</h1>
                <p class="ricevimentoAddress">Corso Italia, Zona Parco Le Navi, Cattolica RN</p>
                <p class="ricevimentoUrl">
                    <a href="https://www.facebook.com/malindibeachcafe" target="_blank">Facebook</a>
                </p>

                <p class="cerimoniaDetail">PS: vi consigliamo di avere costume e telo da mare a portata di mano! 🌊 😉</p>

            </div>
        </div>
    </div>
</div>


<div class="row sectionContent">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="googleMap" id="partyMap">
            </div>
        </div>
    </div>
