@*@{
        ViewBag.Title = "Matteo e Maria - Il nostro viaggio";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<div class="line"></div>
<div class="container">
    <div class="sectionContent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" id="Viaggio">
                <h2>Il nostro viaggio!</h2>
                <ul class="content">
                    <li>
                        <h3 class="content-avatar avatar-top">
                            <div class="img-avatar" style="background-image: url(/Content/Images/rimini_beaches.jpg);"></div>
                        </h3>
                        <ul>
                            <!-- begin:Venezia -->
                            <li class="content-item content-car">
                                <h3>Venezia</h3>
                                <div class="text">Il nostro punto di partenza...il nostro viaggio inizia da qui!</div>
                                <time datetime=""><i class="fa fa-calendar"></i> 26 agosto 2017</time>
                            </li>
                            <!-- end:Venezia -->
                            <!-- begin: Parigi -->
                            <li class="content-item content-plane">
                                <h3>Paris</h3>
                                <img src="~/Content/Images/Paris.jpg" alt="Paris">
                                <p class="caption">La prima tappa del nostro viaggio, l'immancabile Parigi!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 26-27 Agosto 2017</time>
                            </li>
                            <!-- end:Parigi -->
                            <!-- begin: Tahiti -->
                            <li class="content-item content-plane">
                                <h3>Papeete, Tahiti</h3>
                                <img src="~/Content/Images/tahiti_papeete.jpg" alt="Tahiti">
                                <p class="caption">Dopo 12 ore, saremo dall'altra parte del mondo...qualche ora di riposo a Tahiti, la capitale della Polinesia Francese e si riparte!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 27-28 Agosto 2017</time>
                            </li>
                            <!-- end: Tahiti -->
                            <!-- begin: Huanine -->
                            <li class="content-item content-plane">
                                <h3>Huanine</h3>
                                <img src="~/Content/Images/Huanine_LaPita.jpg" alt="Huanine">
                                <p class="caption">Alla scoperta della prima isola del nostro viaggio, tra mare e natura!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 28 Agosto -01 Settembre 2017</time>
                            </li>
                            <!-- end: Huanine -->
                            <!-- begin: Bora Bora -->
                            <li class="content-item content-plane">
                                <h3>Bora Bora</h3>
                                <img src="~/Content/Images/bora_bora_matira.jpg" alt="Bora Bora">
                                <p class="caption">Un breve volo per atterare a Bora Bora, una delle isole più conosciute e rinnomate dell'arcipelago...</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 01-04 Settembre 2017</time>
                            </li>
                            <!-- end: Bora Bora -->
                            <!-- begin: Rangiroa -->
                            <li class="content-item content-sun">
                                <h3>Rangiroa</h3>
                                <img src="~/Content/Images/Rangiroa_KiaOra_Resort.jpg" alt="Rangiroa">
                                <p class="caption">Rangiroa significa "cielo senza fine"...infatti in questo atollo, uno dei più grandi del mondo, il cielo è un tutt'uno con il mare color turchese: non vediamo già l'ora di essere li!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 04-08 Settembre 2017</time>
                            </li>
                            <!-- end: Rangiroa -->
                            <!-- begin: Fakarava -->
                            <li class="content-item content-anchor">
                                <h3>Fakarava</h3>
                                <img src="~/Content/Images/fakarava_selavi.jpg" alt="Fakarava">
                                <p class="caption">5 giorni ospiti del catamarano Selavi navigando nelle acque dell'atollo di Fakarava...alla ricerca della Laguna Blu!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 08-13 Settembre 2017</time>
                            </li>
                            <!-- end: Fakarava -->
                            <!-- begin: LA -->
                            <li class="content-item content-car">
                                <h3>Los Angeles</h3>
                                <img src="~/Content/Images/LA_Skyline.jpg" alt="Los Angeles">
                                <p class="caption">Il nostro viaggio sta per volgere al termine: più di 20 ore di volo e 12 di fuso orario ci aspetteranno...quindi quale miglior occasione per spezzare tutto ciò se non fermarci qualche giorno ad LA? Il ritorno alla metropoli e al tutto "mega" americano!</p>
                                <time datetime=""><i class="fa fa-calendar"></i> 14-16 Settembre 2017</time>
                            </li>
                            <!-- end: LA -->

                        </ul>
                    </li>
                    <li class="content-end">
                        <h3 class="content-avatar avatar-end">
                            <div class="img-avatar" style="background-image: url(/Content/Images/trieste.jpg);"></div>
                        </h3>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="line"></div>
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h3>Partecipa al nostro viaggio!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <p>La nostra lista viaggi è aperta presso <a href="http://www.kiaoraviaggi.it/?q=listenozze" target="_blank">KiaOra Viaggi</a></p>
                    <p>
                        Utilizzando il codice XXX-YYY
                        @*<button type="button" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-info-sign"></span> Info
                        </button>*@
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
