@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

@font-face {
    font-family: ShorelinesScriptBold;
    src: url( /fonts/ShorelinesScriptBold.otf);
    font-style: normal;
}

@font-face {
    font-family: personality;
    src: url( /fonts/personality.otf);
    font-style: normal;
}

@font-face {
    font-family: YummyCupcakes;
    src: url( /fonts/YummyCupcakes.ttf);
    font-style: normal;
}

@font-face {
    font-family: JennaSue;
    src: url( /fonts/JennaSue.ttf);
    font-style: normal;
}

@font-face {
    font-family: Hapole;
    src: url( /fonts/hapole_markerpen/hapole_marker.ttf);
    font-style: normal;
}

@font-face {
    font-family: DancingScript;
    src: url('https://fonts.googleapis.com/css?family=Dancing+Script');
    font-style: normal;
}

body {
    font-family: 'personality';
    /*font-family: JennaSue;*/
    font-size: 22px !important;
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: rgba(198,178,151,114); /*#B29772; */ */
    /*background: -moz-radial-gradient(white 15%, transparent 16%), -moz-radial-gradient(white 15%, transparent 16%), rgba(198,178,151,95);
    background: -webkit-radial-gradient(white 15%, transparent 1%), -webkit-radial-gradient(white 15%, transparent 16%), rgba(198,178,151,95);
    background-position: 0 0, 1px 8px;
    -webkit-background-size: 160px 160px;
    -moz-background-size: 160px 160px;
    background-size: 30px 30px;
    background-repeat: repeat;*/
    /*background: wheat;*/
    /*background-image: radial-gradient(white 20%, transparent 0), radial-gradient(white 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;*/
}

.container {
    max-width: 1470px !important;
}

/*.indexWelcomeBody > */
h1 {
    font-family: personality;
}

/*.indexWelcomeBody > */
h2 {
    font-family: personality;
}

/*.indexWelcomeBody > */
h3 {
    font-family: personality;
}

ul {
    list-style-type: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    /*border-color: white;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;*/
    /*background: -moz-radial-gradient(white 15%, transparent 16%), -moz-radial-gradient(white 15%, transparent 16%), rgba(198,178,151,114);
    background: -webkit-radial-gradient(white 15%, transparent 1%), -webkit-radial-gradient(white 15%, transparent 16%), rgba(198,178,151,114);
    background-position: 0 0, 30px 40px;
    -webkit-background-size: 80px 80px;
    -moz-background-size: 80px 80px;
    background-size: 80px 80px;
    background-repeat: repeat;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuBar {
    /*background-color: white; /*#f7f997;*/ /*#f7f997;*/
    /*border: 2px solid #A0ACC5;*/
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff; /*#f7f997;*/
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 1px;
    border-color: #A0ACC5; /*#A0B4C8;*/
    border-style: solid;
    border-width: 0px 0px 0px !important;
    border-bottom-width: 1px;
    *zoom: 1;
}

footer {
    margin-top: 20px;
}

.footerBar {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff; /*#f7f997;*/
    -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 1px;
    border-color: #A0ACC5; /*#A0B4C8;*/
    border-style: solid;
    border-bottom-width: 1px;
    *zoom: 1;
}

.menuHeader > li > a {
    color: #A0ACC5 !important; /*darkgoldenrod*/
}

.menuHeaderCollapse > li > a {
    color: #A0ACC5 !important; /*darkgoldenrod*/
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}

    .navbar-inverse .navbar-toggle .icon-bar.collapsed {
        background-color: #07194F !important;
    }

.menuHome {
    color: #07194F !important;
    font-size: xx-large;
}

.profileImg {
    border-color: #EA8400;
    border-style: double;
    border-width: 3px;
    border-radius: 50% !important;
}

.viaggioDestination {
    font-weight: bold;
}

.viaggioDescriptionTitle {
    font-style: italic;
}

.parentImg {
    width: 100px;
}


#ricevimentoLocation {
    font-size: xx-large;
}


.ricevimentoAddress {
    text-align: center;
    font-style: italic;
    /*color: #6D8840;*/
}

.ricevimentoUrl {
    text-align: center;
    font-style: italic;
}

    .ricevimentoUrl > a:link {
        color: inherit;
        text-decoration: none;
    }

    .ricevimentoUrl > a:hover {
        color: #07194F;
        border-bottom: 2px solid #07194F;
        text-decoration: none;
    }

    .ricevimentoUrl > a:visited {
        color: inherit;
        text-decoration: none;
    }

.cerimoniaAddress {
    text-align: center;
    font-style: italic;
    color: #6D8840;
}

.cerimoniaDetail {
    text-align: center;
    font-style: italic;
    font-size: 28px;
}

.guestbookDetail {
    text-align: center;
    font-style: italic;
    font-size: 28px;
}

.cerimoniaLocation {
    text-align: center;
    font-size: 35px;
}

.cerimoniaInvite {
    text-align: center;
    font-style: italic;
}

    .cerimoniaInvite h2 {
    }

#idGuestbookTable {
    margin-top: 30px;
    border-color: goldenrod;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

/*
	================
	[7. STORY]
	================
*/

#Home {
    margin-top: 0.5%;
}

@media (max-width: 767px) {
    #Home {
        margin-top: 0.5px;
    }
}

section {
    margin-bottom: 100px;
}

.viaggioJumbo {
    color: #A0ACC5;
}

    .viaggioJumbo button {
        font-family: 'YummyCupcakes';
    }

.rsvpContacts {
    font-family: 'YummyCupcakes';
}


.sectionContent {
    position: relative;
    width: 100%;
    /*padding: 120px 0px 180px 0px;*/
}

    /*@media (max-width: 600px) {
        .sectionContent {
            padding-top: 100px;
        }
    }*/

    .sectionContent h2 {
        padding-bottom: 30px;
        font-family: 'personality', cursive; /*'Dancing Script', cursive;*/
        font-size: 85px;
        line-height: 87px;
        font-weight: 700;
        color: #07194F; /*goldenrod;*/
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .sectionContent p {
        font-family: YummyCupcakes;
    }



.contentDintorni {
    *zoom: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    background-color: transparent;
    -webkit-background-size: 2px auto;
    -moz-background-size: 2px auto;
    -ms-background-size: 2px auto;
    -o-background-size: 2px auto;
    background-size: 2px auto;
    background-position: center top;
    background-repeat: repeat-y;
    background-attachment: initial;
}

.contentInnerList {
    font-family: YummyCupcakes;
}

.content {
    *zoom: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
    background-color: transparent;
    background-image: url('../content/Images/bg_timeline.png');
    -webkit-background-size: 2px auto;
    -moz-background-size: 2px auto;
    -ms-background-size: 2px auto;
    -o-background-size: 2px auto;
    background-size: 2px auto;
    background-position: center top;
    background-repeat: repeat-y;
    background-attachment: initial;
}

    .content::before,
    .content::after {
        display: table;
        content: "";
        line-height: 0;
    }

    .content::after {
        content: '';
        clear: both;
    }

@media(max-width:767px) {
    .content::after {
        content: '';
        clear: both;
        margin-bottom: 100px;
    }
}

.content ul {
    *zoom: 1;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 2em 0 6em 0;
}

@media (max-width: 767px) {
    .content ul {
        padding: 1em 2em 6em 2em;
    }
}

.content ul::before,
.content ul::after {
    content: '';
    display: table;
    line-height: 0;
}

.content ul::after {
    content: '';
    clear: both;
}

.content-avatar {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 7px 8px;
    color: #fff;
    /*font-family: 'EB Garamond', serif;*/
    font-size: 24px;
    line-height: normal;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    background: #A0ACC5; /*#f7f997;*/
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

    .content-avatar .img-avatar {
        display: block;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        background-color: transparent;
        background-image: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: initial;
        overflow: hidden;
    }

    .content-avatar::after,
    .content-avatar::before {
        top: 99%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .content-avatar::after {
        content: '';
        border-top-color: #A0ACC5; /*#f7f997;*/
        border-width: 10px;
        left: 50%;
        margin-left: -10.5px;
    }

    .content-avatar::before {
        content: '';
        border-bottom-color: rgba(0, 0, 0, 0.01);
        border-width: 12px;
        left: 50%;
        margin-left: -12px;
    }

.content-item {
    position: relative;
    right: 30px;
    float: left;
    width: 42%;
    margin-top: -80px;
    margin-left: 8%;
    clear: both;
    padding: 2%;
    /*font-family: 'EB Garamond', serif;*/
    color: #888;
    background-color: #fff; /*#f7f997;*/
    -webkit-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*rgba(0, 0, 0, 0.15);*/
    -ms-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -o-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-color: #A0ACC5; /*#A0B4C8;*/
    border-style: solid;
    border-width: 1px;
    *zoom: 1;
}

@media (max-width: 767px) {
    .content-item {
        left: auto;
        right: auto;
        float: none;
        width: 80%;
        margin: 80px auto 0;
    }
}

.content-item::before,
.content-item::after {
    content: '';
    display: table;
    line-height: 0;
}

.content-item::after {
    content: '';
    clear: both;
}

.content-item::after,
.content-item::before {
    top: 50%;
    right: -19px;
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    margin: -15px 0 0;
    font-family: 'FontAwesome';
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    pointer-events: none;
}

@media (max-width: 767px) {
    .content-item::after,
    .content-item::before {
        top: -20px;
        right: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: -16px;
    }
}

.content-item::before {
    font-family: 'FontAwesome';
    content: '\F0DA';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #A0ACC5; /*#A0B4C8;*/ /*#f7f997;*/
}

@media (max-width: 767px) {
    .content-item::before {
        font-family: 'FontAwesome';
        content: '\f0d8';
        display: inline-block;
        font-style: normal;
        speak: none;
    }
}

.content-item::after {
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    content: '\f15c';
    display: inline-block;
    right: -46.5px;
    width: 30px;
    height: 30px;
    font-style: normal;
    padding: 3px 1px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 3px #A0ACC5; /*#f7f997;*/
    -moz-box-shadow: 0 0 0 3px #A0ACC5; /*#f7f997;*/
    -ms-box-shadow: 0 0 0 3px #A0ACC5; /*#f7f997;*/
    -o-box-shadow: 0 0 0 3px #A0ACC5; /*#f7f997;*/
    box-shadow: 0 0 0 3px #A0ACC5; /*#f7f997;*/
    background-color: white;
    speak: none;
}

@media (max-width: 767px) {
    .content-item::after {
        font-family: 'FontAwesome';
        content: '\f040';
        top: -50px;
        display: inline-block;
        font-style: normal;
        speak: none;
    }
}

.content-item:nth-child(even) {
    float: right;
    left: 30px;
    right: 0;
    margin-right: 8%;
    margin-left: 0;
}

@media (max-width: 767px) {
    .content-item:nth-child(even) {
        left: auto;
        right: auto;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }

        .content-item:nth-child(even) .content-quote::after {
            font-family: 'FontAwesome';
            content: '\f10e';
        }

        .content-item:nth-child(even) .content-text::after {
            font-family: 'FontAwesome';
            content: '\f15c';
        }

        .content-item:nth-child(even) .content-photo::after {
            font-family: 'FontAwesome';
            content: '\f03e';
        }

        .content-item:nth-child(even) .content-chat::after {
            font-family: 'FontAwesome';
            content: '\f0e6';
        }

        .content-item:nth-child(even) .content-audio::after {
            font-family: 'FontAwesome';
            content: '\f025';
        }

        .content-item:nth-child(even) .content-video::after {
            font-family: 'FontAwesome';
            content: '\f008';
        }

        .content-item:nth-child(even) .content-auto::after {
            font-family: 'FontAwesome';
            content: '\f1b9';
        }

        .content-item:nth-child(even) .content-plane::after {
            font-family: 'FontAwesome';
            content: '\f072';
        }

        .content-item:nth-child(even) .content-anchor::after {
            font-family: 'FontAwesome';
            content: '\f13d';
        }

        .content-item:nth-child(even) .content-sun::after {
            font-family: 'FontAwesome';
            content: '\f185';
        }
}

.content-item:nth-child(even)::after,
.content-item:nth-child(even)::before {
    left: -20px;
}

@media (max-width: 767px) {
    .content-item:nth-child(even)::after,
    .content-item:nth-child(even)::before {
        top: -20px;
        right: 50%;
        left: 50%;
        margin-top: 0;
        margin-left: -16px;
    }
}

.content-item:nth-child(even)::before {
    font-family: 'FontAwesome';
    content: '\F0D9';
    font-style: normal;
    speak: none;
    display: inline-block;
}

@media (max-width: 767px) {
    .content-item:nth-child(even)::before {
        font-family: 'FontAwesome';
        content: '\f0d8';
        display: inline-block;
        font-style: normal;
        speak: none;
    }
}

@media (min-width: 767px) {
    .content-item:nth-child(even)::after {
        left: -47px;
    }
}

@media (max-width: 767px) {
    .content-item:nth-child(even)::after {
        /*font-family: 'FontAwesome';
        content: '\f040';*/
        top: -50px;
        display: inline-block;
        font-style: normal;
        speak: none;
    }
}

.content-item h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'personality', cursive; /*'Dancing Script', cursive;*/
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
    color: #EA8400; /*#A4230A;*/ /*goldenrod;*/
}

    .content-item h3 a {
        color: goldenrod;
        -webkit-transition: color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        -o-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-transition: color, 0.2s;
        -moz-transition: color, 0.2s;
        -ms-transition: color, 0.2s;
        -o-transition: color, 0.2s transition: color, 0.2s;
    }

        .content-item h3 a:hover {
            color: #59A3C0;
            text-decoration: none;
            -webkit-transition: color 0.2s ease-in-out;
            -moz-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            -o-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            -webkit-transition: color, 0.2s;
            -moz-transition: color, 0.2s;
            -ms-transition: color, 0.2s;
            -o-transition: color, 0.2s;
            transition: color, 0.2s;
        }

.content-item .text {
    font-size: 18px;
    line-height: 26px;
    color: #040C19 !important;
}

.content-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .content-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.content-item .caption {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #666;
}

.content-item time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    /*color: #bbb;*/
    color: #6D8840; /*goldenrod;*/
    /*font-family: 'EB Garamond', serif;*/
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.content-item i[class="fa-"] {
    font-family: 'FontAwesome';
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
}

.content-item .chat {
    /*font-family: 'EB Garamond', serif;*/
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    padding: 10px 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.content-item .odd {
    background: #A0B4C8; /*#f7f997;*/
    color: #fff;
}

.content-item .even {
    background: #eaeaea;
    color: #888;
}

.content-item:first-child {
    margin-top: 0;
}

@media (max-width: 767px) {
    .content .content-avatar {
        padding-left: 7px;
        padding-right: 8px;
        margin-bottom: 80px;
    }

    .content .content-item {
        width: 96%;
    }
}

.content-quote {
    color: #fff;
}

    .content-quote blockquote {
        position: relative;
        padding: 20px 25px 40px;
        margin-bottom: 0;
        border-color: transparent;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        -ms-border-radius: 1px;
        -o-border-radius: 1px;
        border-radius: 1px;
        background-color: #A0B4C8; /*#f7f997;*/
    }

        .content-quote blockquote::before {
            font-family: 'FontAwesome';
            font-size: 30px;
            line-height: normal;
            font-weight: 400;
            content: '\f10d';
        }

        .content-quote blockquote,
        .content-quote blockquote small {
            color: #fff;
            border-color: #fff;
        }

    .content-quote::after {
        font-family: 'FontAwesome';
        content: '\f10e';
        font-style: normal;
        speak: none;
        display: inline-block;
        color: #A0B4C8 /*#f7f997;*/ !important;
    }

@media (max-width: 767px) {
    .content-quote::after {
        font-family: 'FontAwesome';
        content: '\f10e';
    }
}

.content-quote time {
    color: #efefef;
}

.content-text::after {
    font-family: 'FontAwesome';
    content: '\f15c';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #A0B4C8 /*#f7f997;*/ !important;
}

@media (max-width: 767px) {
    .content-text::after {
        font-family: 'FontAwesome';
        content: '\f15c';
    }
}


.content-car::after {
    font-family: 'FontAwesome';
    content: '\f1b9 ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-car::after {
        font-family: 'FontAwesome';
        content: '\f1b9 ';
    }
}

.modalContent {
    font-family: YummyCupcakes;
}

    .modalContent h2 {
        font-family: personality;
    }

    .modalContent h3 {
        color: #EA8400;
    }

.btnInfo {
    font-family: YummyCupcakes;
}

.content-glass::after {
    font-family: 'FontAwesome';
    content: '\f000 ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-glass::after {
        font-family: 'FontAwesome';
        content: '\f000 ';
    }
}

.content-staro::after {
    font-family: 'FontAwesome';
    content: '\f006 ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-staro::after {
        font-family: 'FontAwesome';
        content: '\f006 ';
    }
}

.content-plane::after {
    font-family: 'FontAwesome';
    content: '\f072  ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-plane::after {
        font-family: 'FontAwesome';
        content: '\f072  ';
    }
}

.content-anchor::after {
    font-family: 'FontAwesome';
    content: '\f13d  ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-anchor::after {
        font-family: 'FontAwesome';
        content: '\f13d  ';
    }
}


.content-sun::after {
    font-family: 'FontAwesome';
    content: '\f185  ';
    font-style: normal;
    speak: none;
    display: inline-block;
    /*color: #f7f997 !important;*/
}

@media (max-width: 767px) {
    .content-sun::after {
        font-family: 'FontAwesome';
        content: '\f185  ';
    }
}

.content-photo img {
    margin-bottom: 0;
}

.content-photo::after {
    font-family: 'FontAwesome';
    content: '\f03e';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #A0B4C8 /*#f7f997;*/ !important;
}

@media (max-width: 767px) {
    .content-photo::after {
        font-family: 'FontAwesome';
        content: '\f03e';
    }
}

.content-chat::after {
    font-family: 'FontAwesome';
    content: '\f0e6';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #A0B4C8 /*#f7f997;*/ !important;
}

@media (max-width: 767px) {
    .content-chat::after {
        font-family: 'FontAwesome';
        content: '\f0e6';
    }
}

.content-audio::after {
    font-family: 'FontAwesome';
    content: '\f025';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #369 !important;
}

@media (max-width: 767px) {
    .content-audio::after {
        font-family: 'FontAwesome';
        content: '\f025';
    }
}

.content-video::after {
    font-family: 'FontAwesome';
    content: '\f008';
    font-style: normal;
    speak: none;
    display: inline-block;
    color: #369 !important;
}

@media (max-width: 767px) {
    .content-video::after {
        font-family: 'FontAwesome';
        content: '\f008';
    }
}

.content-audio iframe,
.content-video iframe {
    width: 100% !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.content-photo,
.content-text,
.content-chat,
.content-audio,
.content-video,
.content-car,
.content-anchor,
.content-plane,
.content-sun {
    padding-bottom: 60px;
}

    .content-photo time,
    .content-text time,
    .content-chat time,
    .content-audio time,
    .content-video time,
    .content-anchor time,
    .content-plane time,
    .content-sun time {
        position: absolute;
        bottom: 15px;
        right: 20px;
    }

.content-end .content-avatar {
    /*margin-bottom: -90px;*/
}

@media (max-width: 767px) {
    .content-end .content-avatar {
        margin-bottom: -120px;
    }
}

.content-end .content-avatar::after,
.content-end .content-avatar::before {
    content: " ";
    position: absolute;
    top: -20px;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
}

.content-end .content-avatar::after {
    content: '';
    left: 50%;
    margin-left: -10.5px;
    border-bottom-color: #A0B4C8;
    border-width: 10px;
}

.content-end .content-avatar::before {
    content: '';
    left: 50%;
    margin-left: -12px;
    border-bottom-color: rgba(0, 0, 0, 0.01);
    border-width: 12px;
}

@media (max-width: 767px) {
    .content-end .btn {
        display: block;
    }
}


/**NAV BAR**/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: goldenrod !important;
    background-color: transparent !important;
    /*-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
    -ms-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
    -o-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125) !important;*/
}

.carousel {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
/*.carouselContainer {
    max-width: 90%;
}*/
@media(min-width:1500px) {
    .carouselMain {
        max-width: 1100px;
        height: 100%;
        margin-left: 25%;
        /*margin-right: 50%;*/
    }
}
/*.carousel-inner{
    width:auto;
}*/
.carouselImages > img, .carousel-inner > .item > a > img {
    display: block;
    height: 100%;
    /* max-width: 100%; */
    line-height: 1;
    width: 100%;
    /*max-width: 100% !important;*/
}

@media (min-width: 744px) {
    carouselMain {
        max-width: 100%;
        max-height: 100%;
    }

    .carouselImages > img {
        height: 750px !important;
    }
}

@media (min-width: 850px) {
    carouselMain {
        max-width: 100%;
        max-height: 100%;
    }

    .carouselImages > img {
        height: 950.0px !important;
    }
}
/**CAROUSEL */
.carousel-caption {
    color: #FF8C00;
    font-size: larger;
}


/**MODALE*/
/*.modal {
    overflow: hidden;
}

.modal-dialog {
    margin-right: 0;
    margin-left: 0;
}*/

/**MAPPE*/
.googleMap {
    height: 500px;
    width: 100%;
    webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    border-radius: 1%;
    border: 1px solid #A0ACC5;
    -webkit-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*rgba(0, 0, 0, 0.15);*/
    -ms-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -o-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
}


/*JUMBOTRON*/
.jumbotron {
    background-color: white; /*#f7f997;*/
    width: 100%;
    border: 1px solid #A0ACC5;
    -webkit-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15); /*rgba(0, 0, 0, 0.15);*/
    -ms-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    -o-box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
    box-shadow: 0 2px 3px #6D8840; /*rgba(0, 0, 0, 0.15);*/
}

    .jumbotron h1 {
        color: #EA8400;
    }

@media screen and (min-width: 768px) {
    .jumbotronCerimonia {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

h3 {
    padding-top: 10px;
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}


.profileContact {
    margin-left: -30px;
}

/**BODY*/
.body-content {
    margin-top: 60px;
}


.rsvpForm input {
    font-family: Verdana;
}

.rsvpForm select {
    font-family: Verdana;
}

.rsvpForm .btn {
    font-family: inherit;
}

.submitDiv {
    margin-top: 30px;
}


/**STATS**/

.statsTable {
    margin-top: 30px;
    border-color: goldenrod;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
